<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382100094090-935bt2apcfpi1b4bevht4t6civ0jjif8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382100094090-935bt2apcfpi1b4bevht4t6civ0jjif8</string>
	<key>API_KEY</key>
	<string>AIzaSyBJcYnrczAKdJr2vfWeipDNXjRRjIGJvfg</string>
	<key>GCM_SENDER_ID</key>
	<string>382100094090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.JoKash</string>
	<key>PROJECT_ID</key>
	<string>jokash-2d6c4</string>
	<key>STORAGE_BUCKET</key>
	<string>jokash-2d6c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382100094090:ios:bba436e880a240aa1d4173</string>
</dict>
</plist>